.view-claim-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%; 
  height: auto; 
  min-width: 300px;
  min-height: 200px;
  margin: 40px auto;
  text-align: center;
  display: block;
}

.view-claim-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
